# Python
__pycache__/
*.py[cod]
*$py.class
*.csv

# Virtual environments
.venv/
venv/

# Node
node_modules/
package-lock.json

# Mac
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
# Python
__pycache__/
*.py[cod]
*$py.class
*.csv
# Virtual environments
.venv/
venv/

# Test artifacts
.pytest_cache/
